<h4>会員情報編集</h4>

<div>
  <%= form_with model: @customer do |f| %>
    <div>
      <p>氏名</p>
      <<%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
    </div>
    
    <div>
      <p>フリガナ</p>
      <%= f.text_field :first_name_kana %>
      <%= f.text_field :last_name_kana %>
    </div>
    
    <div>
      <p>郵便番号</p>
      <%= f.text_field :postal_code %>
    </div>
    
    <div>
      <p>住所</p>
      <%= f.text_field :address %>
    </div>
    
    <div>
      <p>電話番号</p>
      <%= f.text_field :telephone_number %>
    </div>
    
    <div>
      <p>メールアドレス</p>
      <%= f.email_field :email %>
    </div>
    
    <div>
      <%= f.submit '編集内容を保存' %>
    </div>
  <% end %>
  <% link_to "退会する", customers_confirm_path %>
</div>