<h4>マイページ</h4>
<div>
  <p>登録情報</p>
  <%= link_to "編集する", public_addresses_edit_path %>
</div>

<div>
  <div>
    <p>氏名</p><%= @customer.first_name @customer.last_name %>
  </div>
  
  <div>
    <p>カナ</p><%= @customer.first_name_kana @customer.last_name_kana %>
  </div>
  
  <div>
    <p>郵便番号</p><%= @customer.postal_code %>
  </div>  
  
  <div>
    <P>住所</P><%= @customer.address %>
  </div>
  
  <div>
    <p>電話番号</p><%= @customer.telephone_number %>
  </div>
  
  <div>
    <p>メールアドレス</p><%= @customer.email %>
  </div>
</div>

<div>
  <p>配送先</p><%= link_to "一覧を見る", addresses_path %>
</div>

<div>
  <p>注文履歴</p><%= link_to "一覧を見る", orders_path %>
</div>