<h1>商品詳細</h1>
<div>
  <%= image_tag @item.image %>
</div>
<div>
  <span>商品名</span>
  <%= @item.name %>
</div>
<div>
  <span>商品説明</span>
  <%= @item.introduction %>
</div>
<div>
  <span>ジャンル</span>
  <%= @item.genre.name %>
</div>
<div>
  <span>
    税込み価格
    (税抜き価格)
  </span>
  <%= @item.price %>
</div>
<div>
  <span>販売ステータス</span>
  <%= @item.is_active %>
</div>

<div>
  <%= link_to "編集する", edit_admin_item_path(@item.id) %>
</div>