<h4>配送先編集</h4>
<div>
  <%= form_with model: @address do |f| %>
    <div>
      <p>郵便番号（ハイフンなし）</p>
      <%= f.text_field :postal_code %>
    </div>
    
    <div>
      <p>住所</p>
      <%= f.text_field :address %>
    </div>
    
    <div>
      <p>宛名</p>
      <%= f.text_field :name %>
    </div>
    
    <%= f.submit "変更内容を保存" %>
  <% end %>
</div>