<h4>配送先登録/一覧</h4>

<div>
  <%= form_with model: @address, url: addresses_path do |f| %>
    <div>
      <p>郵便番号（ハイフンなし）</p>
      <%= f.text_field :postal_code %>
    </div>

    <div>
      <p>住所</p>
      <%= f.text_field :address %>
    </div>

    <div>
      <p>宛名</p>
      <%= f.text_field :name %>
    </div>

    <% f.submit "新規登録" %>
  <% end %>
</div>


<div>
  <table>
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
          <td><%= address.name %></td>
          <td><%= link_to "編集する", edit_address_path %> <%= link_to "削除する", address_path, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>