<h2>新規会員登録</h2>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <div>
    <p>名前</p>
    <label>（性）</label>
    <%= f.text_field :first_name %>
    
    <label>（名）</label>
    <%= f.text_field :last_name %>
  </div>
  
  <div>
    <p>フリガナ</p>
    <label>（セイ）</label>
    <%= f.text_field :first_name_kana %>
    
    <label>（メイ）</label>
    <%= f.text_field :last_name_kana %>
  </div>
  
  <div>
    <p>メールアドレス</p>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <p>郵便番号（ハイフンなし）</p>
    <%= f.text_field :postal_code %>
  </div>
  
  <div>
    <p>住所</p>
    <%= f.text_field :address %>
  </div>
  
  <div>
    <p>電話番号（ハイフンなし）</p>
    <%= f.text_field :telephone_number %>
  </div>
  
  <div>
    <p>パスワード（6文字以上）</p>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  
  <div>
    <p>パスワード（確認用）</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  
  <div>
    <%= f.submit "新規登録" %>
  </div>
  <% end %>
  
  
  



<%= render "public/shared/links" %>
