<div class="container">
  <div class="row g-5">

    <div class="col">
      <div>
        <h4>ログイン</h4>
      </div>


      <div class="ml-4 mb-3">
        <h4>会員の方はこちらからログイン</h4>
        <%= form_with model: @customer, url: customer_session_path do |f| %>
          <div class="row mb-3">
            <label class="col-2 col-form-label">メールアドレス</label>
            <div class="col-10">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-2 col-form-label">パスワード</label>
            <div class="col-10">
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <div>
            <%= f.submit "ログイン", class: 'bg-blue-500' %>
          </div>
        <% end %>
        </div>
      <div class="row g-5">
        <div class="col">
          <h4>会員登録がお済でない方</h4>
          <p class="ml-4">
            <%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
